*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-color: yellow;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.container{
    display: flex;
    justify-content: center;
}
nav{
    display: flex;
    background-color: saddlebrown;
    height: 120px;
}
ul{
    display: flex;
    list-style: none;
}
ul>li{
    padding: 20px;
}
ul>li>a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}